{# Variables #}
{# Версия для сброса кеша статических ресурсов #}
{% set static_version = 2 %}
{# {% set user = user|merge({'owner': 1}) %} #}
{# {% set user = user|merge({'admin': 1}) %} #}
{% if page_type == 'city' or page_type == 'country' or page_type == 'index' %}
	{% set html_class = 'is-page-city' %}
{% else %}
	{% set html_class = 'is-page-company' %}
{% endif %}
{# HTML template #}
<!DOCTYPE html>
<html lang="ru" dir="ltr" class="{{ html_class }}">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="referrer" content="origin-when-cross-origin" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="width" />

	<title>{{ title }}</title>

	<!--<link rel="preconnect" href="https://mc.yandex.ru" />-->
	<!--<link rel="preload" as="script" href="https://mc.yandex.ru/metrika/watch.js" />-->

	<link rel="preload" as="style" href="{{ static_cdn }}/css/app.min.css?v={{ static_version }}" />

	<script>
		window.page = {};
		window.page.static_version = '{{ static_version }}';
		window.page.static_cdn = '{{ static_cdn }}';
		window.page.ugc_cdn = '{{ ugc_cdn }}';
	</script>

	{% block head %}
	{% endblock head %}

	<link rel="canonical" href="{{ canonical_url }}" />
	<link rel="stylesheet" href="{{ static_cdn }}/css/app.min.css?v={{ static_version }}" />

</head>
<body>
<div class="app">
	{% include '/includes/header.twig' %}

	{% block body %}
	{% endblock body %}

	{% if page_type != 'map' %}
	{% include '/includes/footer.twig' %}
	{% endif %}
</div>
{% block bottom %}
{% endblock bottom %}
</body>
</html>